.anylinkcss{
position:absolute;
visibility: hidden;
border:2px solid #009000;
font:normal 12px Verdana;
line-height: 18px;
z-index: 100;
background-color: #000000;
width: 150px;
}

.anylinkcss a{
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid black;
padding: 1px 0;
text-decoration: none;
font-weight: bold;
text-indent: 5px;
}

.anylinkcss a:hover{ /*hover background color*/
background-color: black;
color: grey;
}
/*
     FILE ARCHIVED ON 01:07:35 May 31, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:49:14 Feb 27, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.154
  exclusion.robots.policy: 0.139
  cdx.remote: 0.133
  esindex: 0.012
  LoadShardBlock: 6926.35 (6)
  PetaboxLoader3.datanode: 338.86 (8)
  PetaboxLoader3.resolve: 8084.685 (4)
  load_resource: 1589.518 (2)
*/